:root {
    --guilty-black: #1f1f1f;
    --guilty-dark-blue: #303f5d;
    --guilty-blue: #7ca4f0;
    --guilty-pink: #ff90af;
    --guilty-white: #ededed;
}

* {
    padding: 0;
    margin: 0;
    font-family: monospace;
    user-select: none;
    scroll-behavior: smooth;
}

h1 {
    font-size: 50px;
}

p {
    margin-top: 20px;
    font-size: 15px;
}

.top {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px   30px;
    display: flex;
    justify-content: center;
    /* background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px); */
}

.bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px 30px;
    display: flex;
    justify-content: center;
    /* background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px); */
}

.container {
    width: 100%;
    height: 100vh;
    background-color: var(--guilty-pink);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing {
    justify-content: center;
    align-items: center;
}

.moustache {
    margin-top: -150px;
    margin-bottom: -70px;
    width: 400px;
    transition: transform 0.3s;
}

.moustache:hover {
    transform: translateY(-10px);
}

.name-heading {
    width: 100%;
}

.connect-btn {
    width: 250px;
    margin-top: 45px;
    padding: 15px 10px;
    font-size: 16px;
    color: var(--guilty-black);
    text-align: center;
    background-color: var(--guilty-white);
    border-radius: 18px;
    transition: transform 0.3s;
}

.connect-btn:hover {
    color: var(--guilty-blue);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
    cursor: pointer;
}

.link1 {
    border-radius: 50%;
    transition: transform 0.3s;
}

.link1:hover {
    transform: translateY(-5px);
    cursor: not-allowed;
}

.link2 {
    margin-left: auto;
    border-radius: 50%;
}

.link2:hover {
    transform: translateY(-5px);
    transition: transform 0.3s;
}

.link3 {
    margin-right: 60px;
    border-radius: 50%;
    transition: transform 0.3s;
}

.link3:hover {
    transform: translateY(-5px);
}

.link4 {
    margin-left: auto;
    margin-right: 60px;
    border-radius: 50%;
    transition: transform 0.3s;
}

.link4:hover {
    transform: translateY(-5px);
}

.icon {
    width: 80px;
}

/* Media queries */
@media screen and (min-width: 1366px) {
    h1 {
        font-size: 80px;
    }
    
    p {
        margin: 50px 100px;
        font-size: 30px;
    }
    
    .moustache {
        margin-top: -300px;
        margin-bottom: -10px;
        width: 650px;
        transition: transform 0.3s;
    }
    
    .moustache:hover {
        transform: translateY(-10px);
    }
    
    .name-heading {
        margin-top: -150px;
        width: 100%;
    }

    .connect-btn {
        width: 350px;
        margin-top: 120px;
        padding: 20px 10px;
        font-size: 25px;
        color: var(--guilty-black);
        text-align: center;
        background-color: var(--guilty-white);
        border-radius: 30px;
        transition: transform 0.3s;
    }
}

@media screen and (min-width: 481px) and (max-width: 1366px) {
    .landing {
        justify-content: center;
    }

    .name-heading {
        margin-top: -50px;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 20px;
    }
    
    p {
        margin: 25px 50px;
        font-size: 15px;
        text-align: center;
    }   

    .landing {
        justify-content: flex-start;
    }

    .moustache {
        margin-top: 150px;
        width: 250px;
    }

    .name-heading {
        visibility: hidden;
    }

    .connect-btn {
        font-size: 12px;
        width: 200px;
    }

    .icon {
        width: 60px;
    }
}